<div class="col-lg-10">
<h1>マイページ</h1>

<h2>購入履歴</h2>
<%= link_to '購入履歴の確認', orders_path, class: "btn btn-info btn-lg" %>

<p><%= link_to '退会する・・・', destroy_confirm_customer_path %></p>
<h2>登録情報</h2>
<p>名前　<%= @customer.name %></p>
<p>住所　<%= @customer.address %></p>
<p>電話番号　<%= @customer.telephone %></p>

<%= link_to '会員情報の変更', edit_customer_path, class: "btn btn-info btn-lg" %>
<%= link_to 'お届け先住所一覧', deliveries_path, class: "btn btn-info btn-lg" %>


<h2>クレジット情報</h2>
<p>下４桁:xxxx</p>
<%= link_to '登録・編集する', customer_path(@customer) %>
</div>