<div class="container-fluid">
	<div class="row">
<div class="col-lg-12">
	<div class="text-center">
	<div class="bg-success">
<h1>マイページ</h1>
</div>
</div>
</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
	<div class="text-center">
	<h2>登録情報</h2>

<table>
	<tbody>
<tr>
	<th><font size="5">名前</font></th>
	<td><font size="5"><%= @customer.name %></font></td>
</tr>

<tr>
	<th><font size="5">住所</font></th>
	<td><font size="5"><%= @customer.homeaddress %></font></td>
</tr>

<tr>
	<th><font size="5">電話番号</font></th>
	<td><font size="5"><%= @customer.telephone %></font></td>
</tr>

</tbody>
</table>
</div>
</div>

<div class="col-lg-3"></div>
</div>
</div>



<p><%= link_to '退会する・・・', destroy_confirm_customer_path %></p>

<%= link_to '会員情報の変更', edit_customer_path, class: "btn btn-success btn-lg" %>
<%= link_to 'お届け先住所一覧', deliveries_path, class: "btn btn-success btn-lg" %>
<%= link_to '購入履歴の確認', orders_path, class: "btn btn-success btn-lg" %>
<h2>クレジット情報</h2>

<%= link_to '登録・編集する', new_card_path %>
</tbody>
</table>
</div>
</div>
</div>


<!-- <div class="row">
<div class="col-lg-12">
<table>
	<tr>
		<div class="col-6">
		<th>登録情報</th>
		 </div>
		 <div class="col-lg-6">
		<td>名前　<%#= @customer.name %></td>
	</div>
		<div class="col-lg-6">
		<td>住所　<%#= @customer.homeaddress %></td>
	</div>
		<div class="col-lg-6">
		<td>電話番号　<%#= @customer.telephone %></td>
		</div> -->

