<div class="container-fluid">
	<div class="row">
<div class="col-lg-12">
	<div class="text-center">
	<div class="bg-success">
<h1>マイページ</h1>
</div>
</div>
</div>


<div class="row">
<div class="col-lg-12">


<table>
<tbody>
<!-- <h2>購入履歴</h2> -->

<!-- </div> -->

<div class="row">
<tr>
	<div class="col-lg-3">
<th>登録情報</th>
</div>
<td>
	<p>名前　<%= @customer.name %></p>
	<p>住所　<%= @customer.homeaddress %></p>
	<p>電話番号　<%= @customer.telephone %></p>
</td>
</tr>


<p><%= link_to '退会する・・・', destroy_confirm_customer_path %></p>

<%= link_to '会員情報の変更', edit_customer_path, class: "btn btn-success btn-lg" %>
<%= link_to 'お届け先住所一覧', deliveries_path, class: "btn btn-success btn-lg" %>
<%= link_to '購入履歴の確認', orders_path, class: "btn btn-success btn-lg" %>
<h2>クレジット情報</h2>
<p>下４桁:xxxx</p>
<%= link_to '登録・編集する', new_card_path %>
</tbody>
</table>
</div>
</div>
</div>


<!-- <div class="row">
<div class="col-lg-12">
<table>
	<tr>
		<div class="col-6">
		<th>登録情報</th>
		 </div>
		 <div class="col-lg-6">
		<td>名前　<%#= @customer.name %></td>
	</div>
		<div class="col-lg-6">
		<td>住所　<%#= @customer.homeaddress %></td>
	</div>
		<div class="col-lg-6">
		<td>電話番号　<%#= @customer.telephone %></td>
		</div> -->

