<div class="container-fluid">
	<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<h1><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>マイページ</h1><br>
</div>
</div>
</div>


<div class="col-lg-2"></div>
<div class="col-lg-8">
	<div class="panel panel-default">
	<div class="well well-md">
		<div class="text-center">
			<font size="5">登録情報</font></div>
		</div>
<!-- <div class="col-lg-3"></div>
<div class="col-lg-6"> -->
		<table class="table table-border">
	<tbody>
<tr>
	<th><font size="5"><font color=#333333>名前</font></font></th>
	<td><font size="5"><%= @customer.name %></font></td>
</tr>

<tr>
	<th><font size="5">住所</font></th>
	<td><font size="5"><%= @customer.homeaddress %></font></td>
</tr>

<tr>
	<th><font size="5">電話番号</font></th>
	<td><font size="5"><%= @customer.telephone %></font></td>
</tr>

</tbody>
</table>
<div class="col-lg-3"></div>
<%= link_to '会員情報の変更', edit_customer_path, class: "btn btn-success btn-lg" %>
<%= link_to 'お届け先住所一覧', deliveries_path, class: "btn btn-success btn-lg" %>
<%= link_to '購入履歴の確認', orders_path, class: "btn btn-success btn-lg" %>
<p class="text-right"><%= link_to '退会する・・・', destroy_confirm_customer_path %></p>
</div>



<!-- <div class="row">
	<div class="panel panel-default">
		<div class="well well-md">
			<font size="5">クレジット情報</font>
		</div> -->




			<div class="panel panel-default">
				<div class="well well-md">
		<div class="text-center">
<font size="5">クレジット情報</font>
</div>
</div>
<div class="text-center">
<%= link_to '登録・編集する', new_card_path %>
</div>
</div>
<div class="col-lg-2"></div>
</div>


<!-- <div class="row">
<div class="col-lg-12">
<table>
	<tr>
		<div class="col-6">
		<th>登録情報</th>
		 </div>
		 <div class="col-lg-6">
		<td>名前　<%#= @customer.name %></td>
	</div>
		<div class="col-lg-6">
		<td>住所　<%#= @customer.homeaddress %></td>
	</div>
		<div class="col-lg-6">
		<td>電話番号　<%#= @customer.telephone %></td>
		</div> -->

