<%= render 'sidebar'%>

<div class="col-lg-10">

<h1>会員一覧</h1>
  
<table class="table table-border">
  <thead>
    <tr class="well well-lg">
      <!-- <div class="col-md-8"> -->
      <th class="col-md-4">ユーザー名</th>
      <th class="col-md-4">E-mail</th>
     <!--  <div class="col-md-2"> -->

   
    </tr>
  </thead>

  <div class="row">
  <% @customers.each do |customer| %>
  <tbody>
    <tr>

        <td class="col-md-4">
          <%= link_to customer.name, admin_customer_path(customer.id) %>
        </td>

        <td class="col-md-4">
          <%= customer.email %>

        <td class="col-md-2">
      <%= link_to '編集', edit_admin_customer_path(customer.id), class: "btn btn-primary btn-xs" %>
        </td>

      
      <td class="col-md-2">
        <%= link_to '購入履歴', purchase_history_admin_customer_path(customer.id), class: "btn btn-primary btn-xs" %>

        </td>
      </div>
  </tr>
  </tbody>
  <% end %>

  </table>
</div>


  <%= paginate @customers, class: "pagenate" %>
</div>
</div>




