<div class="row">
<div class="col-lg-12">
	<div class="text-center">
<h1>ユーザー情報</h1>
</div>
</div>
<div class="col-lg-12">
	<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>顧客ID:<%= @customer.id %></h2></div>
<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>名前:<%= @customer.name %></h2></div>
<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>名前（カナ）:<%= @customer.name_kana %></h2></div>
<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>郵便番号: <%= @customer.post_code %></h2></div>
<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>住所:<%= @customer.homeaddress %></h2></div>
<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>電話番号:<%= @customer.telephone %></h2></div>
<div class="col-lg-4"></div>
<div class="col-lg-8">
<h2>メールアドレス:<%= @customer.email %></h2></div>
</div>
<div class="col-lg-12">
	<div class="text-center">
<%= link_to '変更・編集', edit_admin_customer_path(@customer.id), class: "btn btn-success" %>

<%= link_to '退会させる', destroy_confirm_admin_customer_path(@customer.id), class: "btn btn-danger" %>
</div>
</div>
</div>

