
<div class="col-lg-8">

			<h1>お届け先住所一覧</h1>
	<table class="table table-hover">
		<tbody>
			 <% @deliveries.each do |d| %>
                <tr>
                	<th>名前</th>
                	<th>郵便番号</th>
                	<th>都道府県</th>
                	<th>市区町村</th>
                	<th>番地など</th>
                	<th>電話番号</th>
                </tr>




				<tr>

					<td><%= d.customer.name %></td>
					<td><%= d.customer.post_code %></td>
					<td><%= d.customer.prefecture %></td>
					<td><%= d.customer.municipality %></td>
					<td><%= d.customer.address %></td>
					<td><%= d.customer.telephone%></td>



					<td><%= link_to "編集", edit_delivery_path(d.id) ,class: "label label-primary" %></td>
			<% end %>
	    </tbody>
	</table>
		<%= link_to '新しい住所を登録する', new_delivery_path %>
	<%= paginate @deliveries %>

</div>
