<%= render 'sidebar'%>
<h1 class="headline">ジャンル編集</h1>

  <%= form_for(@genre, url:"/admin/genres/#{@genre.id}") do |f| %>
      <h4>ジャンル名</h4>
      <%= f.text_field :genre_name %>
      <%= f.submit '変更' %>
  <% end %>

 <%= link_to "削除", admin_genre_path(@genre.id), method: :delete ,class: "btn btn-danger" %>