<%= render 'sidebar'%>
<h1 class="headline">ジャンル登録</h1>
<% if @genre.errors.any? %>
            <%= @genre.errors.count %>件のerrorが発生しました
            <% @genre.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>
        <% end %>

<%= form_for(@genre, url: admin_genres_path,method: :post) do |f|%>

    <%= f.text_field :genre_name %>
      <%= f.submit '登録' %>
    <% end %>
<div class="col-lg-8">
	<h2>ジャンル一覧</h2>
		<table class="table table-hover">
			<thead>
			<tr>
				<th>ジャンル名</th>
			</tr>
				</thead>
				<tbody>
		<% @genres.each do |genre| %>
			<tr>
		<td><%= genre.genre_name %></td>
		<td><%= link_to "編集", edit_admin_genre_path(genre.id) ,class: "label label-primary" %></td>
	       </tr>
       <% end %>
	    </tbody>
	</table>

	<%= paginate @genres %>

   </div>
</div>


