<h1>商品削除確認</h1>
<h2>この商品を削除します。よろしいですか？</h2>

<%= attachment_image_tag @product, :product_image, :fill, 200, 200, fallback: "no_image.png", size:'200x200' %>


  <!-- 商品名 -->
  <%= @product.product_name %>

  <p>アーティスト名：<%= @product.artist.artist_name %></p>

  <p>ジャンル名：<%= @product.genre.genre_name %></p>

  <p>レーベル名：<%= @product.label.label_name %></p>


  <%= link_to "詳細ページに戻る", admin_product_path(@product.id) %>

  <%= link_to "商品を削除する", admin_product_path(@product.id), method: :delete %>