<%= render 'sidebar'%>

<h1 class="">商品削除確認</h1>
<h2>この商品を削除します。</h2>

<div class="col-lg-3">

  <%= attachment_image_tag @product, :product_image, :fill, 250, 250, fallback: "no_image.png", size:'250x250' %>
</div>

<div class="col-lg-7">
      <!-- 商品名 -->

  商品名：<%= @product.product_name %><br>



  アーティスト名：<%= @product.artist.artist_name %><br>



  ジャンル名：<%= @product.genre.genre_name %><br>



  レーベル名：<%= @product.label.label_name %><br>


  <%= link_to "詳細ページに戻る", admin_product_path(@product.id),class: "btn btn-default " %>

  <%= link_to "商品を削除する", admin_product_path(@product.id), method: :delete,class: "btn btn-danger " %>


</div>