<h1>商品削除確認</h1>
<h2>この商品を削除します。よろしいですか？</h2>

<div class="col-lg-10">
  <table>
    <tbody>
      <tr>
        <td><%= attachment_image_tag @product, :product_image, :fill, 200, 200, fallback: "no_image.png", size:'200x200' %></td>
      </tr>

      <!-- 商品名 -->
      <tr>
        <td>商品名：<%= @product.product_name %></td>
      </tr>

      <tr>
        <td>アーティスト名：<%= @product.artist.artist_name %></td>
      </tr>

      <tr>
        <td>ジャンル名：<%= @product.genre.genre_name %></td>
      </tr>

      <tr>
        <td>レーベル名：<%= @product.label.label_name %></td>
      </tr>

      <tr>
        <td><%= link_to "詳細ページに戻る", admin_product_path(@product.id) %></td>

        <td><%= link_to "商品を削除する", admin_product_path(@product.id), method: :delete %></td>
      </tr>
    </tbody>
  </table>
</div>