<%= flash[:notice] %>


<h1>商品一覧</h1>


    <div class="col-lg-8">
      <table>
        <tbody>
          <% @products.each do |product| %>
            <%= link_to admin_product_path(product.id) do %>
              <tr><%= attachment_image_tag product, :product_image, :fill, 150, 150, fallback: "no_image.png", size:'150x150' %></tr><br>

              <tr><%= product.product_name %> </tr>

              <tr><%= product.artist.artist_name %> </tr>

              <tr>￥<%= product.product_price %></tr><br>
            <% end %>
          <% end %>
          <%= paginate @products %>
        </tbody>
      </table>
    </div>

      <div class="col-lg-2">
        <table class="table table-bordered">
          <tbody>

            <% @genres.each do |genre| %>
                <tr>
                  <td><%=link_to genre.genre_name, admin_products_path(genre_id: genre.id)%></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>


</div>