<style type="text/css" media="screen">
 .wrapper{
  background-image:url('../assets/zarusoba.jpg');
  background-size: cover;
  box-shadow: 4px 4px;
}
 a {
  color: white;
}
.headline{
  color: white;
}
</style>


<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <span class="glyphicon glyphicon-ok" style="font-size: 20px" aria-hidden="true"></span>&nbsp;<%= msg.html_safe %>
  </div>
<% end %>



<%= render 'sidebar'%>

​
<h1 class="headline">商品一覧</h1>
​
  <div class="col-lg-8">
    <% @products.each do |product| %>
      <div class="col-lg-3">
        <div class="product-index">
          <%= link_to admin_product_path(product.id) do %>

            <%= attachment_image_tag product, :product_image, :fill, 160, 160, fallback: "no_image.png", size:'160x160' %><br>
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;<%= product.product_name %><br>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<%= product.artist.artist_name %><br>

            <i class="fas fa-yen-sign fa-lg"></i>&nbsp;<%= product.product_price %><br>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="text-center col-lg-11">
      <%= paginate @products %>
    </div>
  </div>


