<%= render 'sidebar'%>
<h1>商品登録</h1>
<% if @product.errors.any? %>
    <h2><%= @product.errors.count %> errors prohibited this obj from being saved:</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>


    <div class="col-lg-10">
          <%= form_for(@product, url: admin_products_path) do |f| %>

            <div class="form-group">
                <label>ステータス</label>
                <%= f.select :product_status,  Product.product_statuses.keys.map {|k| [I18n.t("enums.product.product_status.#{k}"), k]} %>
            </div><br>

            <div class="form-group">
              <label>商品名</label>
              <%= f.text_field :product_name, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
            </div><br>

            <div class="form-group">
              <label>アーティスト名</label>
              <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {prompt: "選択してください"}, class: "form-control" %>
            </div><br>

            <div class="form-group">
              <label>ジャケット画像</label>
              <%= f.attachment_field :product_image %>
            </div><br>

            <div class="form-group">
              <label>価格(税抜)</label>
              <%= f.text_field :product_price, autocomplete: 'off', class: "form-control", :placeholder => "半角数字で入力" %>
            </div><br>

            <div class="form-group">
              <label>レーベル名</label>
              <%= f.collection_select :label_id, Label.all, :id, :label_name, {:prompt => "選択してください"}, class: "form-control" %>
            </div><br>

            <div class="form-group">
              <label>ジャンル</label>
              <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, {:prompt => "選択してください"}, class: "form-control" %>
            </div><br>

            <div class="form-group">
              <label>トラックリスト</label>
              <div class="discs">
                <%= f.fields_for :discs do |disc| %>
                  <%= render 'disc_fields', f: disc %>
                <% end %>

                <div class="links col-lg-6">
                  <%= link_to_add_association "ディスクを追加", f, :discs %>
                </div>
              </div>
            </div>


            <%= f.submit "商品登録" , class: "btn btn-success col-lg-12" %>
>>>>>>> ryuta8


      <% end %>



    </div>


