<%= flash[:notice] %>

<h1>商品詳細</h1>

<div class="col-lg-10">
  <table>
    <tbody>
      <!-- 商品画像 -->
      <tr>
        <td><%= attachment_image_tag @product, :product_image, :fill, 200, 200, fallback: "no_image.png", size:'200x200' %></td>
      </tr>

      <tr>
        <td>商品ID：<%= @product.id %></td>

        <!-- 編集ボタン -->
        <td><%= link_to "編集", edit_admin_product_path %></td>

      <!-- 削除ボタン -->
        <td><%= link_to "削除", destroy_confirm_admin_product_path %></td>
      </tr>

      <!-- 商品名 -->
      <tr>
        <td><%= @product.product_name %></td>
      </tr>

      <tr>
        <td>アーティスト名：<%= @product.artist.artist_name %></td>
      </tr>

      <tr>
        <td>ジャンル名：<%= @product.genre.genre_name %></td>
      </tr>

      <tr>
        <td>レーベル名：<%= @product.label.label_name %></td>
      </tr>

      <tr>
        <td>価格(税抜)：￥<%= @product.product_price %></td>
      </tr>

      <tr>
        <td>在庫数：<%= @product.stock %></td>
      </tr>

      <!-- 販売状況 -->
      <tr>
        <td><%= @product.product_status_i18n %></td>
      </tr>

      <% @records.each do |record| %>
        <tr>
          <td><%= record.disc_number %></td>
          <td><%= record.song_title %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>


