<div class="container">
    <div class="row">
    	 <div class="col-lg-2">
    	 </div>
        <div class="col-lg-8">
	    <h1 class="text-success">購入履歴一覧画面</h1>
		<table class="table table-hover">
			 <% @orders.each do |o|  %>
					 <tr class="well  well-lg">
					 	<td><div class="small_titel-2">注文日</div><%= o.created_at.strftime("%Y年%m月%d日 %H:%M") %>
			          　<br><td><div class="small_titel-2">配送状況:</div><%= o.delivery_status_i18n %></font>
			              <td><font size="5"><%= link_to '購入履歴詳細', order_path(o.id) %><br></font>
			            </td>
			        </tr>
		        <% o.order_details.each do |f| %>
			        <tr class="panel panel-default">
		                <td><%= attachment_image_tag f.product, :product_image, :fill, 250, 250, fallback: "no_image.png", size:'150x150' %>
		                <td><div class=""><font size="5">商品名:<%= f.product.product_name %></div></font>
		                <br>
		                <br><font size="4">商品個数:<%= f.order_quantity %>個</font>
		                <br>
					    <br><font size="4">金額:<%= f.product.product_price %>円<br></font>
			           <!--  <td text-align:center;><font size="4"><%#= f.product.product_price * f.purchase_quantity %>円</font></td> -->
		               </td>
			       </tr>
			    <% end %>
			<% end %>
	    </table>
	     <%= paginate @orders %>
	    </div>
	    <div class="col-lg-2">
      </div>
   </div>
</div>