<h1 class="text-success">購入履歴一覧画面</h1>




<div class="container">
  <div class="row">
　　<div class="col-lg-12">
	    <p class="text-center">
		   <% @orders.each do |o|  %>
				   <%# @order.customer.cartitem.each do |o| %>
			<table class="table table-hover col-lg-11 ">
				<thead>
					<tr>
						<th class="col-xs-1">注文日</th>
						<th class="col-xs-1">配送状況</th>
						<th class="col-xs-1"></th>
					</tr>
				</thead>
					<tbody>
						<tr>
							<td class="col-xs-1"><%= o.created_at.strftime("%Y年%m月%d %H:%M") %></td>
							<td class="col-xs-1 label label-primary" ><%= o.delivery_status_i18n %></td>
							<td class="col-xs-1 label label-success"><%= link_to '購入履歴詳細リンク', order_path(o.id) %></td>
						</tr>
						<% o.order_details.each do |f| %>
						 <tr>
							　<td class="col-xs-3"><%= attachment_image_tag f.product, :product_image, :fill, 250, 250, fallback: "no_image.png", size:'100x100' %></td>
							 <td class="col-xs-3">商品名<%= f.product.product_name %></td>

							 <td class="col-xs-3">商品個数<%= f.product.product_name %>点</td>
						　</tr>
						<% end %>
			       </tbody>
			</table>
		  <% end %>
	       <%= paginate @orders %>
	     </p>
     </div>
  </div>
</div>



<%= render 'footer'%>










