
			<h1 class="text-success">購入画面</h2>
			<h2 class="titel">お届け先・お支払い方法の選択</h3>
<div class="container">
  <div class="row">
     <div class="col-xs-3">
     </div>
      <div class="col-xs-6">
	 <%= form_for @order, url:order_confirm_order_path(current_customer), method: :post do |f| %>
			　　<table class="table table-hover">
				<tr>
                   <h3 class="titel">お届け先の選択</h5>
				</tr >
				    <td>
					   <label><%= f.radio_button :addresses, "user_address", {:checked => true} %>ログイン中のユーザーのお届け先を使用</label>
					</td>
				   <!-- ログイン中のユーザー情報を表示 -->
				    <tr>
						<td>名前</td>
						<td><%= @customer.name %></td>
					</tr>
					<tr>
						<td>住所</td>
					    <td><%= @customer.homeaddress %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= @customer.post_code %></td>
					</tr>
			    </table>　
			　　　 <!-- 　ユーザー以外の住所をeach文で全表示 -->
			<% @customer.deliveries.each do |d| %>

				 <table class="table table-hover">
			      	<tr>
			      		<td class="well  well-lg">
							<label><%= f.radio_button :addresses, d.id %>登録済みのお届け先以外を使用</label>
				　　　　　</td>
			　　　　  </tr>
				     <tr>
						<td>名前</td>
					    <td><%= d.name %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= d.customer.homeaddress %></td>
					</tr>
					<tr>
						<td>電話番号</td>
					    <td><%= d.telephone %></td>
					</tr>

					<% end %>
				</table>

					<tr>
						<!-- <div class="col-xs-4"></div> -->
						<%= link_to "新しい住所を登録する", new_delivery_path , class: " btn btn-info col-xs-12" %>
						<!-- <div class="col-xs-4"></div> -->
					</tr>


              <h3 class="titel">支払い方法を選択する</h3>
				 <table class="table table-hover ">
					 <tr>
						<td><label><%= f.radio_button :settlement_method, "銀行振り込み", {:checked => true} %>銀行振込</label></td>
					</tr>
					<tr>
						<td><label><%= f.radio_button :settlement_method, "代引き" %>代引き</label></td>
					</tr>
					<tr>
						<td><label><%= f.radio_button :settlement_method, "クレジットカード" %>クレジットカード</label></td>
					</tr>
				  </table>
			     <table class="table table-hover ">
					<!--  purchase_quantity(購入希望数)と数量で計算 -->
						<tr>
							<!-- カートの合計金額を表示 -->
							<td>商品合計</td>
						    <td><%= @total_price %>円 </td>
						</tr>
						<tr>
							<td>送料</td>
						　　 <td><%= @order.postage %>円</td>
						</tr>
						<tr>
							<!-- 合計金額のフォームを送りたい -->
							<td>合計金額</td>
						　　 <td><%= @total_price.to_i + @order.postage.to_i %>円</td>
						    <td><%#= @total_amount %></td>
						</tr>
				 </table>
						 <tr><%= f.submit '購入画面に進む'  ,class: " btn btn-success btn-lg col-xs-12"%></tr>

       </div>
        <div class="col-xs-3">
        </div>
   </div>
</div>
				　　　_
			<%= f.hidden_field :total_price, :value => @total_price.to_i + @order.postage.to_i %>
		　　<%= f.hidden_field :total_amount, :value => @total_amount %>
	 <% end %>
