
<div >
            <%= @order.errors.count %> 配送先住所　支払い方法を選択をしてください
            <% @order.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>


</div>

<div class="col-lg-5">
		<h2 class="text-success">購入画面</h2>
		<h4>お届け先・お支払い方法の選択</h4>
		<h5>お届け先</h5>

 <%= form_for @order, url:order_confirm_order_path(current_customer), method: :post do |f| %>
		<div class="field">
		　　<table class="table table-hover col-xs-3">
			    <tr>
			        <td>
				        <label><%= f.radio_button :addresses, "user_address" %>ログイン中のユーザーのお届け先を使用</label>
			        </td>
			   <!-- ログイン中のユーザー情報を表示 -->
			    <tr>
					<td>名前</td>
					<td><%= @customer.name %></td>
				</tr>
				<tr>
					<td>住所</td>
				    <td><%= @customer.homeaddress %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= @customer.post_code %></td>
				</tr>
		    </table>　
		　　　
		<% @customer.deliveries.each do |d| %>
			    <table class="table table-hover col-xs-3">
			      	<tr>
			      		<td>
							<label><%= f.radio_button :addresses, d.id %>登録済みのお届け先以外を使用</label>
				　　　　　</td>
			　　　　</tr>
			　　<!-- 　ユーザー以外の住所をeach文で全表示 -->
					<tr>

		        <table class="table table-hover col-xs-3">
			         <td>
						<label><%= f.radio_button :addresses, "user_address" %>ログイン中のユーザーのお届け先を使用</label>
					</td>
				     <tr>

						<td>名前</td>
					    <td><%= d.name %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= d.homeaddress %></td>
					</tr>
					<tr>
						<td>電話番号</td>
					    <td><%= d.telephone %></td>
					</tr>
			   </table>

			<% end %>
		</div>

		<div class="field">
<%= link_to "新しい住所を登録する", new_delivery_path , class: "col-xs-4 btn btn-success" %>
			 <table class="table table-hover">
				<tr>
				   <th>支払い方法を選択する</th>
				</tr>
				 <tr>
					<td><label><%= f.radio_button :settlement_method, "銀行振り込み" %>銀行振込</label></td>
					<td><label><%= f.radio_button :settlement_method, "代引き" %>代引き</label></td>
					<td><label><%= f.radio_button :settlement_method, "クレジットカード" %>クレジットカード</label></td>
				</tr>
			  </table>
			</div>

			<div class="field">
			     <table class="table table-hover">
					<!--  purchase_quantity(購入希望数)と数量で計算 -->
						<tr>
							<td>商品合計</td>
							<!-- カートの合計金額を表示 -->
						    <td><%= @total_price %>円 </td>
						</tr>
						<tr>
							<td>送料</td>
						　　 <td><%= @order.postage %>円</td>
						</tr>
						<tr>
							<td>合計（税込）</td>
							<!-- 合計金額のフォームを送りたい -->
						　　 <td><%= @total_price.to_i + @order.postage.to_i %>円</td>
						<td><%= @total_amount %>点</td>
						 <td><%= f.hidden_field :total_price, :value => @total_price.to_i + @order.postage.to_i %></td>
						</tr>

						<tr>
							<td>
					       </td>
					    </tr>
			     </table>
			</div>
	　　<%= f.submit '次に進む'  ,class: "col-xs-4 btn btn-success "%>

  <% end %>
</div>

<%#= render 'footer'%>
