<h1>注文確認画面</h1>

<h2>注文内容の確認</h2>


<div class="col-lg-10">
	<table class="table table-hover">
	<%# @orders.puroduct.each do |o| %>
	<!-- ユーザーのカートアイテムを表示させる -->
	<% @customer.cartitems.each do |o| %>
		<thead>
			<tr>
				<th>注文一覧</th>
				<th>価格</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%#=o.attachment_image_tag product, :product_image, :fill, 150, 150, fallback: "no_image.png", size:'150x150' %></td>
				<td><%=o.product.product_name %></td>
				<td><%=o.product.product_price %></td>
				<td><%=o.product.artist.artist_name %></td>
				<td><%=o.product.genre.genre_name %></td>
	　　　　  </tr>
	   </tbody>
    </table>
<% end %>
<%= link_to 'カートに戻る',  cart_items_path ,class: "col-xs-4 btn btn-primary " %>
              <!--  viewに購入者の購入情報を再表示 -->
	<table class="table table-hover">
		 <tr>
		    <td>お届け先</td>
		    <td><%= @address %></td>
		</tr>
		<tr>
		    <td>お支払い方法</td>
		    <td><%= @settlement_method %></td>
		</tr>
         <tr>
         <td>合計金額</td>
         <td><%= @total_amount.to_i %></td>
        </tr>
    </table>


    <%# @customer.cartitems.each do |f| %>
      <!-- カートアイテム内の購入数 -->
       <%#= f.hidden_field :purchase_quantity, :value => @order_quantity  %>
      <%# end %>

<%= link_to '購入画面に戻って変更する', new_order_path,class: "col-xs-4 btn btn-primary " %>
<!-- 配送先 支払い方法の選択で決めたこと -->
<%= form_for @order, url: "/orders" do |f| %>
    <%= f.hidden_field :total_amount, :value => @total_amount %>
    <%= f.hidden_field :addresses, :value => @address_id  %>
    <%= f.hidden_field :settlement_method, :value => @settlement_method %>
    <%= f.submit '購入を確定する',class: "col-xs-4 btn btn-primary " %>
   <% end %>
<%= render 'footer'%>