<h1 class="text-success">購入履歴詳細</h1>


<div class="container">
  <div class="row">
　　<div class="col-lg-12">
		<p class="text-center">
			<table class="table table-hover col-lg-10">
					<tr>
				         <th>注文日時</th>
				         <td><%= @order.created_at.strftime("%Y月%m日%d %H:%M") %></td>
			　　    </tr>
					<tr>
						 <th>注文状況</th>
					     <td><%=  @order.delivery_status_i18n %></td>
					</tr>
			         <tr>
						 <th>お届け先住所</th>
						 <td><%=  @order.addresses %></td>
					 </tr>
					<!--  <tr>
						 <th>住所</th>
						 <td><%#= %></td>
					 </tr>
					 <tr>
						 <th>名前</th>
						 <td><%#= %></td>
					 </tr>
					 <tr>
						 <th>電話番号</th>
						 <td><%#= %></td>
					 </tr> -->
			</table>
			　　<table class="table table-hover">
					<thead>
						<tr>
							<th>商品情報</th>
						</tr>
					</thead>
					<tbody>
						<% @order.order_details.each do |f| %>
						 <tr>
							<td><%= attachment_image_tag f.product, :product_image, :fill, 250, 250, fallback: "no_image.png", size:'100x100' %></td>
							<td>商品名<%= f.product.product_name %></td>
							<td>アーティスト名<%= f.product.artist.artist_name %></td>
							<td>ジャンル名<%= f.product.genre.genre_name %></td>
                            <td>合計金額<%=  f.order.total_amount %>円</td></td>
							<td>商品個数<%= f.product.product_name %>点</td>
						</tr>
						<% end %>
				   </tbody>
         </table>
</div>
</div>
</p>



<%#= render 'footer'%>