<!DOCTYPE html>
<html>
  <head>
    <title>Sobareco'</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



 new_customer_registration


<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-lg-12" style="background-color: ghostwhite;">
      <nav class="navbar-left">
　　　　　<h2><%= link_to "Sobareco'", admin_products_path %></h2>
　　　 </nav>
        <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                    <!--  管理者側ヘッダー -->

          <li class="">
            <%= link_to "ログイン(管理者）",  new_admin_admin_user_registration_path %>
          </li>
          <li class="listbar">
            <%= link_to "ログアウト(管理者側)", admin_admin_user_registration_path, method: :delete %>
          </li>
          <!--  ユーザー側ヘッダー -->
           <li class="listbar">
            <%= link_to "マイページ" %>
          </li>
          <li class="listbar">
           <%= link_to "カート" %>
           </li>
           <li class="listbar">
           <%= link_to "新規登録",new_customer_registration_path %>
           </li>
          <li class="">
            <%= link_to "ログイン（ユーザー)",new_customer_session_path  %>

          </li>
          <li class="listbar">
             <%= link_to "ログアウト(ユーザー)" %>
          </li>
       </ul>
    </div>
  </div>
</div>



    <%= yield %>

  </body>
</html>


