<!DOCTYPE html>
<html>
  <head>
    <title>Sobareco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
　　　

 <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style="background-color: ghostwhite;">
          <div id= "slidemenu">
            <nav class="navbar-left">
              <h2>sobareco'</h2>
            </nav>
            <nav class="navbar-right">
            <h4>ログアウト</h4>
            <p>検索</p>
            </nav>

          </div>
        </div>
       </div>
      </div>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>商品一覧</td>
            </tr>
            <tr>
              <td>商品登録</td>
            </tr>
            <tr>
              <td>入荷一覧</td>
            </tr>
            <tr>
              <td>入荷登録</td>
            </tr>
            <tr>
              <td>注文一覧</td>
            </tr>
            <tr>
              <td>アーティスト一覧</td>
            </tr>
            <tr>
              <td>レーベル登録</td>
            </tr>
            <tr>
              <td>ジャンル登録</td>
            </tr>
          </tbody>
        </table>
   </div>
<!--   </div>
</div> -->
<!-- 上の<div>タグつけたままだと、メイン部分がサイドバーの下に表示されてしまうため、各自html.erb内の最後に<div>タグ二つを記載して下さい。 -->

    <%= yield %>

  </body>
</html>


